main {
  background-color: #e1eeff;
  margin-top: 87px;
  position: relative;
  height: 750px;
}

.blue {
  background-color: #0360d9;
  width: 100%;
  position: absolute;
  z-index: 200;
  bottom: -70px;
}

.texts_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 49px;
  padding: 15px 35px;
}

.main_box {
  padding: 0 10px;
  display: flex;
  height: 700px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.main_box_left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  width: 49%;
}

.main_box_left > p {
  width: 65%;
  font-size: 16px;
  margin-top: 15px;
  color: #163048;
}

.main_box_right {
  width: 49%;
  height: 100%;
  position: relative;
}

.main_box_left > h2 {
  font-size: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -150px;
  flex-direction: column;
  width: 100%;
}

.top {
  top: -20px;
  position: absolute;
  z-index: 100;
  right: 0;
  animation: slideInRight 1s ease-out forwards;
}

.bottom {
  bottom: 10px;
  animation: slideInBottom 0.8s ease-out forwards;
  position: absolute;
  right: -130px;
}

.favor {
  color: #0360d9;
}

.vector {
  margin-top: -10px;
}

.favor_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.favor_el {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 42px;
  border-right: 1px solid white;
}

.texts > h3 {
  font-size: 64px;
  color: white;
}

.texts > p {
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.main_form {
  width: 690px;
  background-color: white;
  z-index: 150;
  margin-top: 85px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 10px 10px 10px 35px;
}

.form_box > select {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
}

.form_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: #0360d9;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: white;
}

.icons {
    font-size: 22px;
}

/* animations */
@keyframes slideInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
