.ws {
  font-weight: 700;
  font-size: 48px;
  text-align: start;
  margin: 130px 0 40px 0;
}

.consulting_div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.consulting-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.consulting-card {
  border: 1px solid #021526;
  border-radius: 20px;
  padding: 25px;
  background: white;
  transition: 0.3s;
  width: 24%;
  text-align: center;
}

.consulting-card .icon {
  width: 92px;
  height: 92px;
  background: #e6f5fc;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consulting-card h3 {
  text-align: start;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #021526;
  margin-top: 12px;
  margin-bottom: 10px;
}

.consulting-card p {
  font-weight: 400;
  font-size: 16px;
  color: #163048;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 110%;
  text-align: start;
}

.consulting-card:hover {
  background-color: #0360d9;
  color: white;
}

.consulting-card:hover h3,
.consulting-card:hover p {
  color: white;
}
