@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Doto:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: IBM Plex Sans;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
